.movie {
  overflow: hidden;
  position: relative;
}

.movie-body {
  background-color: rgba(20, 20, 20, 0.8);
  width: 100%;
  position: absolute;
  bottom: -1000px;
  transition: 0.5s ease;
  overflow-y: scroll;
  max-height: 100%;
  padding: 15px 7px;
}

.movie-body h1 {
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: .8rem;
  font-weight: 400;
}

.movie-body p{
  font-size: 1.4rem;
  margin-bottom: .8rem;
  margin-bottom: 1.4rem;
  color: #999;
}

.show-movie-body {
  bottom: 0px;
}

.movie:hover .movie-body{
  bottom: 0px;
}
.movie-body .btn-link{
  color: #FFF;
}
.movie-body .btn-link:hover{
  text-decoration: underline;
}

.movie-body .btn.add{
  color: #fff;
  background-color: #e50914;
  border-color: #ff0a16;
  transition: .2s ease;
}
.movie-body .btn{
  font-size: 1.2rem;
  border-radius: 0;
  padding: .57em 1.35em;
}
.movie-body .btn.add:hover{
  background-color: #ff0a16;
}

.card{
  background: transparent;
  border: none;
}

.movie-card{
  margin: 0;
  width: 100%;
}

.movie-card .card-bkg{
  height: 200px;
  overflow: hidden;
  position: relative;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 1;
}

.movie-card .hero-vignette{
  background-image: linear-gradient(to top,#000 0,transparent 50%,transparent 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.movie-card img{
  position: absolute;
  right: 0;
  width: 100%;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.movie-card .card-block{
  position: relative;
  width: 100%;
  background-color: #000;
}

.movie-card .card-block .card-block-detail{
  height: 100%;
  width: 100%;
  padding: 40px 40px 80px 40px;
  position: relative;
  z-index: 3;
  margin-top: -45px;
}

.movie-card .card-block .card-block-detail h1{
  color: white;
  text-transform: uppercase;
  margin-bottom: 6px;
  line-height: 3rem;
}

.movie-card .card-block .card-block-detail .rating{
  color: #46d369;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
}

.movie-card .card-block .card-block-detail .rating span{
  font-size: 2.3rem;
  font-weight: 400;
}

.movie-card .card-block .card-block-detail .date{
  color: #FFFFFF;
  font-size: 1.7rem;
  display: inline-block;
  margin-bottom: 10px;
}

.movie-card .card-block .card-block-detail p{
  color: #999;
  line-height: 2.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 135px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 30px;
}

.movie-card .card-block .card-block-detail a{
  color: white;
}

.movie-card .card-block .card-block-detail a:hover, .movie-card .card-block .card-block-detail a:focus{
  color: white;
  text-decoration: underline;
}

.movie-card .card-block .card-block-detail .btn{
  font-size: 1.7rem;
  font-weight: 400;
  margin-right: .75em;
  padding: .57em 1.35em;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  background-image: none;
  background-color: rgba(0,0,0,.4);
  position: absolute;
  bottom: 20px;
  left: 40px;
  cursor: pointer;
  transition: .3s ease;
  border-radius: 0;
}

.movie-card .card-block .card-block-detail .btn:hover{
  border-color: white;
}

.movie-card .card-block .card-block-footer{
  background: #141414;
}
.movie-card .card-block .card-block-footer .comments-block{
  width: 100%;
  padding: 30px 15px;
}

.movie-card .card-block .card-block-footer .comments-block h2{
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
}

.movie-card .card-block .card-block-footer .comments-block .comment-form  {
  margin: 0;
  padding-bottom: 30px;
}

.movie-card .card-block .card-block-footer .comments-block .comment-form input, .movie-card .card-block .card-block-footer .comments-block .comment-form textarea{
  padding: .57em 1em;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  background-image: none;
  background-color: rgba(0,0,0,.2);
  cursor: pointer;
  transition: .3s ease;
  font-size: 1.2rem;
  border-radius: 0;
}

.movie-card .card-block .card-block-footer .comments-block .comment-form input:focus, .movie-card .card-block .card-block-footer .comments-block .comment-form textarea:focus {
  border-color: white;
}

.movie-card .card-block .card-block-footer .comments-block .comment-form .has-danger input, .movie-card .card-block .card-block-footer .comments-block .comment-form .has-danger textarea {
  border-color: #e50914;
}

.form-control-feedback{
  color: white;
  font-size: 1.2rem;
  padding: .57em 1em;
}
.comment-form .btn{
  color: #fff;
  background-color: #e50914;
  border-color: #ff0a16;
  transition: .2s ease;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 0;
  padding: .57em 1.35em;
}

.movie-comments{
  position: relative;

}

.movie-comment {
  border: none;
  border-top: 1px solid white;
  padding: 10px 6px;
}

.movie-comments p{
  color: white;
}

.movie-comments .name{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2px;
  padding-right: 80px;
}

.movie-comments .comment{
  font-size: 1.2rem;
  font-weight: 400;
  padding-right: 80px;
  margin-bottom: 0;
}

.movie-comments span{
  right: 7px;
  top: 10px;
  position: absolute;
  padding: .57em 1.35em;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  background-image: none;
  background-color: rgba(0,0,0,.2);
  cursor: pointer;
  transition: .3s ease;
  font-size: 1.2rem;
  border-radius: 0;
}

@media only screen and (min-width: 768px) {
  .movie-card .card-block .card-block-detail{
    height: 100%;
    width: 35%;
    padding: 40px;
    position: relative;
    z-index: 3;
    margin-top: 0;
  }
  .movie-card .card-block{
    height: 400px;
  }
  .movie-card .card-bkg{
    position: absolute;
    height: 400px;
    right: 0;
    width: 72%;
    top: 0;
  }
  .movie-card .hero-vignette{
    background-image: linear-gradient(to right,#000 0,transparent 50%,transparent 100%);
    width: 72%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .movie-card .card-block .card-block-footer .comments-block{
    width: 600px;
    margin: 0 auto;
    padding: 30px 0;
  }
}

@media only screen and (min-width: 1170px) {

}
