/* --------------------------------

Primary style

-------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: #fefefe;
  background: #141414;
  /*background: #16161d;*/
}

a {
  color: #e50914;
  text-decoration: none;
}

a:focus, a:hover {
  color: #e50914;
  text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */

.hand-cursor {
  cursor: pointer;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.main-content {
  position: relative;
  min-height: 100vh;
  background: #141414;
}

.main-content:after {
  content: "";
  display: table;
  clear: both;
}

.main-content.is-fixed .tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.main-content.is-fixed .gallery {
  padding-top: 76px;
}

.main-content.is-fixed .filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

.main-content.is-fixed .filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.main-content.is-fixed .filter-trigger {
  position: fixed;
}

.main-content h2{
  width: 100%;
  display: block;
  float: right;
  transition: width 0.3s;
  padding: 20px 5% 0;
  font-weight: 400;
}

.main-content h2.filter-is-visible{
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .main-content.is-fixed .gallery {
    padding-top: 90px;
  }
  .main-content h2{
    padding: 20px 3% 0;
  }
}

@media only screen and (min-width: 1170px) {
  .main-content.is-fixed .gallery {
    padding-top: 100px;
  }
  .main-content h2{
    padding: 20px 2% 0;
  }
}
/* --------------------------------

xmovie-card

-------------------------------- */
.movie-card {
  margin-left: auto;
  margin-right: auto;
  width: 780px;
  color: black;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.right {
  float:right;
}

/* --------------------------------

xstats

-------------------------------- */
.stats{
  padding-bottom: 80px;
}
.stats h2{
  font-weight: 400;
  margin-bottom: 20px;
}
.stats h2:last-of-type{
  margin-top: 50px;
}
.stats table thead tr th{
  font-weight: 400;
  color: white;
}
.stats table tbody tr td{
  color: #999;
}

.stats .btn{
  font-size: 1.7rem;
  font-weight: 400;
  margin-right: .75em;
  padding: .57em 1.35em;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  background-image: none;
  background-color: rgba(0,0,0,.4);
  cursor: pointer;
  transition: .3s ease;
  border-radius: 0;
  margin-top: 40px;
}


/* --------------------------------

xtab-filter

-------------------------------- */

.counter {
  color: white;
  float: right;
  bottom: 20px;
  background-color: #e50914;
}

.tab-filter-wrapper {
  background-color: rgb(30,30,34);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
  margin-bottom: 50px;
}

.tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  margin: 0 auto;
  z-index: 1;
  padding-left: 60px;
}
.tab-filter ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.tab-filter ul li{
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

.tab-filter a {
  display: block;
  /* set same size of the .tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
  cursor: pointer;
  transition: .2s ease;

  display: inline-block;
  padding: 0 1em;
  width: auto;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
}


.tab-filter a:hover{
  color: #e50914;
}
.tab-filter a.selected {
  text-decoration: none;
  background: transparent;
  color: #e50914;
  /* create border bottom using box-shadow property */
  box-shadow: inset 0 -2px 0 #e50914;
}
.tab-filter .misc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.tab-filter .misc .counter a{
  cursor: auto;
}



@media only screen and (min-width: 768px) {
  .tab-filter-wrapper{
    margin-bottom: 0;
  }
  .tab-filter {
    padding-left: 120px;
    width: auto;
    cursor: auto;
  }
  .tab-filter .filters-list{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .tab-filter::after {
    /* hide the arrow */
    display: none;
  }

  .tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }

  .tab-filter li {
    display: inline-block;
  }

  .no-touch .tab-filter a:hover {
    color: #e50914;
  }
  .tab-filter .misc {
    float: right;
    position: unset;
    left: auto;
    transform: none;
  }
}

@media only screen and (min-width: 1170px) {
  .tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }

  .tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* --------------------------------

xgallery

-------------------------------- */
.gallery {
  display: flex;
  flex-flow: row wrap;
  padding: 26px 5%;
  width: 100%;
}

.gallery .movie {
  /*flex: 1 1 40%;*/
  width: 50%;
  padding: 10px;
  height: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.gallery img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .gallery {
    padding: 40px 3%;
  }

  .gallery .movie {
    width: 25%;
    /*flex: 1 1 20%;*/
  }
}

@media only screen and (min-width: 1170px) {
  .gallery {
    padding: 50px 2% 80px;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }

  .gallery .movie {
    /*flex: 1 1 18%;*/
  }

  .gallery.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* --------------------------------

xfilter

-------------------------------- */
.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #333;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s, box-shadow 0.3s;
}

.filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #222;
  z-index: 2;
}

.filter form {
  padding: 70px 20px;
}

.filter .close-f {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
  background: #222;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 3;
}

.no-touch .filter .close-f:hover {
  background: #32255f;
}

.filter.filter-is-visible {
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.filter.filter-is-visible .close-f {
  opacity: 1;
}

.list-filters .filters-list li{
  float: left;
}

@media only screen and (min-width: 1170px) {
  .filter {
    width: 20%;
  }

  .filter form {
    padding: 70px 10%;
  }
}

.filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("../images/icon-filter.svg") no-repeat center center;
  z-index: 3;
}

.filter-trigger.filter-is-visible {
  pointer-events: none;
}


@media only screen and (min-width: 1170px) {
  .filter-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: grey;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 24px;
    background-position: left center;
    transition: color 0.3s;
  }

  .no-touch .filter-trigger:hover {
    color: #00A29B;
  }

  .filter-trigger.filter-is-visible, .filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}

/* --------------------------------

xcustom form elements

-------------------------------- */
.filter-block {
  margin-bottom: 1.6em;
}

.filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: 0;
  padding: 10px 0;
  color: #9a9a9a;
  text-transform: none;
  font-weight: 500;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-touch .filter-block h4:hover {
  color: #00A29B;
}

.filter-block h4::before {
  /* arrow */
  /*content: '';*/
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("../images/icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.filter-block input, .filter-block select,
.filter-block .radio-label::before,
.filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}

.filter-block input[type='search'],
.filter-block input[type='text'],
.filter-block select {
  width: 100%;
  padding: .2em .8em;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}

.filter-block input[type='search']:focus,
.filter-block input[type='text']:focus,
.filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #666;
}

.filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.4rem !important;
}

.filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.filter-block .select {
  /* select element wrapper */
  position: relative;
}

.filter-block .select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}

.filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}

.filter-block select::-ms-expand {
  display: none;
}

.filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}

.filter-block .list li:last-of-type {
  margin-bottom: 0;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .filter-block .select::after {
    display: none;
  }
}
